NEXT_PUBLIC_SUPABASE_URL=https://hqvorjxdwkmphdxuvxsw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxdm9yanhkd2ttcGhkeHV2eHN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MzI3OTYsImV4cCI6MjA5NDAwODc5Nn0.u0us0WMT_TG9P1lI4qtkOGGzXU1Q7otVwcKYaW4kOBo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxdm9yanhkd2ttcGhkeHV2eHN3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQzMjc5NiwiZXhwIjoyMDk0MDA4Nzk2fQ.encEpU1z6hYT9ert0bRiL4flWVp7-SgjJJIWOikYMCY
ADMIN_PASSWORD=M0NZ1
